<%= form_with(model: [lecture, question], local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, 'Titolo della domanda' %>
    <%= form.text_field :title, required: true, placeholder: 'ad es: il cavallo di Napoleone', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, 'Domanda' %>
    <%= form.text_area :description, required: true,placeholder: 'ad es: di che colore era il cavallo bianco di Napoleone?', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "answer_a", "Risposte" %>
  </div>

  <% placeholder = {
    'a' => 'ad es: Bianco',
    'b' => 'ad es: Nero',
    'c' => 'ad es: Lo stesso colore di Furia',
    'd' => 'ad es: Grigio',
    'e' => 'ad es: Non si può sapere',
  } %>
  <% ['a', 'b', 'c', 'd', 'e'].each do |letter| %>
    <div class="row no-gutters">
      <div class="col-auto">
        <div class="custom-control custom-radio mt-2 mr-4">
          <%= form.radio_button :right_answer_letter, letter, class: 'custom-control-input', checked: letter == 'a' %>
          <%= form.label "right_answer_letter_#{letter}", letter.upcase, class: 'custom-control-label' %>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <%= form.text_field "answer_#{letter}", required: true, placeholder: placeholder[letter], class: 'form-control' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Conferma', class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Annulla', lecture_questions_path(question.lecture), class: 'btn btn-outline-warning' %>
  </div>
<% end %>
