<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, 'Titolo della domanda' %>
    <%= form.text_field :title, placeholder: 'ad es: il cavallo di Napoleone', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, 'Descrizione estesa della domanda' %>
    <%= form.text_area :description, placeholder: 'ad es: di che colore era il cavallo bianco di Napoleone?', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :answer_a, 'Risposta A' %>
    <%= form.text_field :answer_a, placeholder: 'ad es: Bianco', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :answer_b, 'Risposta B' %>
    <%= form.text_field :answer_b, placeholder: 'ad es: Nero', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :answer_c, 'Risposta C' %>
    <%= form.text_field :answer_c, placeholder: 'ad es: Lo stesso colore di Furia', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :answer_d, 'Risposta D' %>
    <%= form.text_field :answer_d, placeholder: 'ad es: Grigio', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :answer_e, 'Risposta E' %>
    <%= form.text_field :answer_e, placeholder: 'ad es: Non si può sapere', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :right_answer_letter %>
    <%= form.select :right_answer_letter, ['a', 'b', 'c', 'd', 'e'], {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Conferma', class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Annulla', lecture_questions_path(question.lecture), class: 'btn btn-outline-warning' %>
  </div>
<% end %>
