<div class="card">
  <div class="card-header">
    <%=l lecture.delivered_at, format: :short %>
  </div>

  <%= image_tag lecture.background.attached? ? lecture.background : 'it-doesnt-look-like-anything-to-me-westworld.jpg', class: 'responsive-image card-img-top', alt: lecture.title %>

  <div class="card-body">
    <h5 class="card-title">
      <%= lecture.title %>
    </h5>

    <h6 class="card-subtitle mb-2 text-muted">
      <%= lecture.tutor %>
    </h6>

    <p class="card-text">
      <%= lecture.description %>
    </p>

    <%= link_to material_icon.edit.md_18, edit_lecture_path(lecture), class: 'btn btn-outline-primary float-right' %>
    <%= link_to pluralize(lecture.questions_count, 'domanda', 'domande'), lecture_questions_path(lecture), class: 'btn btn-lg btn-primary' %>
    <%= link_to 'GO LIVE!', lives_path(live_lecture: {lecture_id: lecture.id}), method: :post, class: "btn btn-lg btn-primary #{'disabled' if lecture.questions_count == 0 || !current_user.admin?}" %>
  </div>
</div>
